<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com.xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>Hero</servlet-name>
        <servlet-class>com.lol.control.HeroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hero</servlet-name>
        <url-pattern>/hero</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllHero</servlet-name>
        <servlet-class>com.lol.control.ShowHeroesServlet</servlet-class>
    </servlet>
    <sevlet-mapping>
        <servlet-name>AllHero</servlet-name>
        <url-pattern>/heroes</url-pattern>
    </sevlet-mapping>
</web-app>