<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>ch10.SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThreeParams</servlet-name>
    <servlet-class>ch10.ThreeParams</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Verify</servlet-name>
    <servlet-class>ch10.Verify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowMessageServlet</servlet-name>
    <servlet-class>ch10.ShowMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>ch10.AddMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThreeParams</servlet-name>
    <url-pattern>/ThreeParams</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMessageServlet</servlet-name>
    <url-pattern>/ShowMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>